# genimage.cfg for Acrylic OS ARM64 with A/B slots

image acrylic_os.img {
    hdimage {
        disk-signature = 0x12345678
    }

    partition boot {
        partition-type = 0xEF
        image = "boot.vfat"
        size = 64M
    }

    partition rootfsA {
        partition-type = 0x83
        image = "rootfs.ext4"
        size = 512M
    }

    partition rootfsB {
        partition-type = 0x83
        image = "rootfs.ext4"
        size = 512M
    }

    # A data partition could be added here for user data
    # that persists across updates.
}

image boot.vfat {
    vfat {
        files = {
            "efi/boot/bootaa64.efi",
            "efi/boot/grub.cfg",
            "Image"
        }
        label = "BOOT"
    }
}
