# genimage.cfg for Acrylic OS ARM64

image acrylic_os.img {
	hdimage {
	}

	partition boot {
		partition-type = 0xEF
		image = "boot.vfat"
		size = 64M
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 512M
	}
}

image boot.vfat {
	vfat {
		files = {
			"efi/boot/bootaa64.efi",
			"efi/boot/grub.cfg",
			"Image"
		}
	}
}
