.start-menu {
    position: absolute;
    bottom: 40px; /* Above the taskbar */
    left: 0;
    width: 250px;
    height: 300px;
    background: #A4C9FE;
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 1001; /* Above taskbar */
    border-radius: 10px;
    margin: 10px;
    font-family: 'RobotoVariable', sans-serif;
}

.start-menu-main {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-menu-app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-grow: 1;
}

.start-menu-app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: #333;
    font-size: 12px;
}

.start-menu-app-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.start-menu-app-icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.start-menu-footer {
    padding-top: 10px;
}

.start-menu-footer-item {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
}

.start-menu-footer-item:hover {
    background: #204876;
    color: white;
}

