.taskbar {
    position: absolute;
    bottom: 0; /* Add space at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for its own width */
    width: fit-content; /* Ensure it only takes up necessary width */
    padding-block: var(--spacing-sm); /* Add top and bottom padding */
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--spacing-sm); /* Keep existing horizontal padding or use variable */
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1000;
}

.start-button {
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 50px;
}

.start-button:active {
    outline: none;
}

.taskbar-apps {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.taskbar-app-button {
    background: #EEE;
    color: #333;
    padding: 5px;
    font-family: 'RobotoVariable', sans-serif;
    border-radius: 50px;
    border: none;
    min-width: 90px;
    text-align: center;
    cursor: pointer;
}

.taskbar-app-button:hover {
    background: #CCC;
    color: black;
}

.taskbar-app-button.minimized {
    background: #999;
    color: #f0f0f0;
}
