.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    /* background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    /* backdrop-filter: blur(10px); /* Frosted glass effect */
    /* -webkit-backdrop-filter: blur(10px); */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: sans-serif;
    font-size: 14px;
    font-family: 'RobotoVariable', sans-serif;
}

.top-bar-left, .top-bar-center, .top-bar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.time {
    font-weight: regular;
}

.app-menu-button, .activities-button {
    background: #D4E3FF;
    border: none;
    color: #204876;
    padding: 4px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'RobotoVariable', sans-serif;
}

.app-menu-button:hover, .activities-button:hover {
    background: #B3CEFF
}

.status-button {
    background: transparent;
    border: none;
    color: #204876;
    padding: 4px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'RobotoVariable', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-button img {
    height: 16px;
}
