# genimage.cfg for Acrylic OS ARM64

image boot.vfat {
	vfat {
		file EFI {
			image = "efi-part/EFI"
		}
		file Image {
			image = "Image"
		}
	}
	size = 64M
}

image acrylic_os.img {
	hdimage {
	}

	partition boot {
		partition-type = 0xEF
		image = "boot.vfat"
		size = 64M
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 512M
	}
}
