.smarthome-dock {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px; /* More spacing for a large dock */
    z-index: 15;
    background-color: #D4E3FF;
    border-radius: 45px;
    height: 170px;
    width: 775px;
}

.smarthome-dock-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    width: 80px; /* Wider touch area */
}


.smarthome-dock-icon img {
    width: 218px;
    height: 130px;
    border-radius: 20px;
}



