@font-face {
  font-family: 'RobotoVariable';
  src: url('./../public/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal; /* Or a range like 100 900 */
  font-style: normal;
}

body {
  font-family: 'RobotoVariable', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent body scrollbars from iframe */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
